pyTelegramBotAPI       
psutil           
requests             
Flask                  
qrcode                  
Pillow                 
cryptography  
protobuf
httpx
google
pycryptodome
PyJWT
urllib3
pytz
aiohttp
Flask-SocketIO
eventlet
python-dotenv
pyngrok